//de acá para abajo es el color
ion-toolbar{
    --background: #153863;
}
ion-item{
    --background: #eeeeee;
    color: #153863;
}
ion-list{
    padding: 0; //esto saca las líneas blancas innecesarias alrededor del ion-list
}
ion-content {
    --background: #eeeeee;
}
ion-button{
    --background: #FFB800;
    color: white;
}

ion-card {
    --background: white;
}
.centrado{
    text-align: center;
}
ion-title {
    --color: #eeeeee;
}