<ng-container *ngIf="rol === 'conductor'">
  <ion-header>
    <ion-toolbar>
      <ion-title>Viajes recientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list *ngIf="historialCon.length > 0">
      <ion-item class="rotate-hor-center" *ngFor="let lis of historialCon"
        [routerLink]="['../../detalle-viaje/', lis.id]">
        <ion-label>
          <p id="hora">Hora salida: {{lis.hora}}</p>
          <p id="destino">Destino: {{lis.destino}}</p>
          <p id="costo">Costo: ${{lis.costo}}</p>
          <p id="pago">Método de pago preferente: {{lis.pago | titlecase}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-card *ngIf="historialCon.length === 0">
      <h5 class="ion-margin">No has realizado ningún viaje aún...</h5>
    </ion-card>
  </ion-content>
</ng-container>


<ng-container *ngIf="rol === 'pasajero'">
  <ion-header>
    <ion-toolbar>
      <ion-title>Viajes disponibles</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list *ngIf="listaViajes.length > 0">
      <ion-item class="rotate-hor-center" *ngFor="let lis of listaViajes"
        [routerLink]="['../../detalle-viaje/', lis.id]">
        <ion-label *ngIf="lis.disponible">
          <ion-label>
            <p id="hora">Hora salida: {{lis.hora}}</p>
            <p id="destino">Destino: {{lis.destino}}</p>
            <p id="costo">Costo: ${{lis.costo}}</p>
            <p id="pago">Método de pago preferente: {{lis.pago | titlecase}}</p>
          </ion-label>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-card>
      <div *ngIf="listaViajes.length === 0">
        <h5 class="ion-margin">No hay viajes disponibles actualmente</h5>
      </div>
    </ion-card>
  </ion-content>
</ng-container>