<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="colu">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Programación del viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form #formViaje="ngForm" id="formu" (ngSubmit)="submit()">
      <ion-list>
        <h5 id="titleDestino" class="ion-margin title">Selecciona el destino</h5>
<!-- Esto de acá provoca que el geocoder no se vea completamente -->
        <!-- <ion-grid>
          <ion-row> --> 
            <!-- <ion-col sizeXs="12" sizeSm="10" sizeMd="7" sizeLg="6" sizeXl="5"> -->
              <div class="envoltura ion-margin">
                <div id="idGeocoder" class="ion-margin" #geocoder></div>
                <div id="idMap" #mapa class="ion-margin mapa"></div>
              </div>
            <!-- </ion-col> -->
          <!-- </ion-row>
        </ion-grid> -->

        <h4 class="ion-margin title">Selecciona hora y fecha de salida</h4>
        <ion-item>
          <ion-datetime class="ion-margin" (ionChange)="obtenFecha($event)" displayFormat="HH:mm" value="{{valorFecha}}"
            required></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating"><span>Coste por pasajero</span>
            <ion-text color="danger"> *</ion-text>
          </ion-label>
          <ion-input [(ngModel)]="viaje.costo" name="costo" required type="text"></ion-input>
        </ion-item>
        <!-- ************************************************************************ -->
        <ion-item>
          <ion-select interface="action-sheet" mode="ios" id="owo2" [(ngModel)]="viaje.pago" name="pago" color="black"
            placeholder="Método de pago preferente" required>
            <ion-select-option value="efectivo">Efectivo</ion-select-option>
            <ion-select-option value="transferencia">Transferencia</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- ************************************************************************ -->

        <ion-item>
          <ion-label position="floating"><span>Comentario(opcional)</span>
            <ion-text color="danger"></ion-text>
          </ion-label>
          <ion-input [(ngModel)]="viaje.comentario" name="comentario" type="text"></ion-input>
        </ion-item>
      </ion-list>


      <ion-button class="btn ion-text-center" type="submit" [disabled]="formViaje.invalid" required>
        Programar viaje
      </ion-button>
    </form>
  </ion-card>
</ion-content>