ion-toolbar {
    --color: #e6e6e6;
    --opacity: 1;
}
ion-content {
    --background: #f2f2f2;
    --color: #179CBC;
    --keyboard-offset: 0px;
    --offset-bottom: 0px;
    --offset-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
}
ion-card {
    --background: #065893;
    --color: #f2f2f2;
}
ion-item {
    --background: #fff;
    --color: #065893;
    --color-activated: #3880ff;
    --color-focused: #3880ff;
    --color-hover: #3880ff;
    --detail-icon-color: #989aa2;
    --highlight-color-invalid: #f04141;
    --highlight-color-valid: #47C0A7;
    --ripple-color: #1e1e1e;
}
ion-button {
    --background: #47C0A7;
    --color: #f2f2f2;
}
.forgot{
    margin-top: 10%;
}

//de acá para abajo es el color
ion-toolbar{
    --background: #153863;
}
ion-item{
    --background: #eeeeee;
}
ion-list{
    padding: 0; //esto saca las líneas blancas innecesarias alrededor del ion-list
}
ion-content {
    --background: #eeeeee;
}
ion-button{
    --background: #FFB800;
}

ion-card {
    --background: #8BB8E8;
}
h1{
    color: #065893;
}a{
    color: #065893;
}
#nuevo{
    padding: 0;
    margin-left: 20%;
}
#irRegistro{
    margin-right: 12%;
}